<div ng-controller="NavigationController as vm">
    <ht-navmenu when-done-animating="vm.sidebarReady()">
        <div class="navmenu-inner clearfix">
            <div class="navmenu-widget clearfix"></div>
            <ul class="navi clearfix">
                <li class="fade-selection-animation" ng-class="vm.isCurrent(r)"
                    ng-repeat="r in vm.navRoutes">
                    <a ui-sref="{{r.name}}"
                       ng-bind-html="r.settings.content"></a>
                </li>
            </ul>
        </div>
    </ht-navmenu>
</div>
