<div>
    <form class="" ng-submit="saveIndex(index.new)">
        <h2 class="col-sm-12">Modifica Index</h2>

        <div class="col-sm-12">


            <div class="form-group label-floating is-empty">
                <label for="date" class="control-label">Data</label>
                <input type="date" class="form-control" id="date" ng-model="index.new.month" required>
            </div>
            <div class="form-group label-floating is-empty">
                <label for="name" class="control-label">{{::index.consumer.name}}</label>
                <input type="number" class="form-control" id="name" ng-model="index.new.index">
            </div>
            <div class="form-group is-empty is-fileinput">
                <input type="file" id="inputFile4" multiple="" accept="image/*" ng-model="index.new.file">

                <div class="input-group">
                    <input type="text" readonly="" class="form-control" placeholder="Ataseaza poze">
                                <span class="input-group-btn input-group-sm">
                                  <button type="button" class="btn btn-fab btn-fab-mini">
                                      <i class="mdi-editor-attach-file"></i>
                                  </button>
                                </span>
                </div>
                <span class="material-input"></span></div>


            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Modifica</button>
                </div>
            </div>
        </div>

    </form>
</div>
